#include "afxres.h"


DIALOGMENU DIALOG DISCARDABLE 100,100,180,180
STYLE DS_CENTER|DS_MODALFRAME
FONT 14, "MS Sans Serif"
BEGIN
    EDITTEXT 10000,10,10,160,14,ES_LEFT | WS_BORDER
    EDITTEXT 10001,10,40,160,14,ES_LEFT | WS_BORDER
    DEFPUSHBUTTON "Cancel",10002,80,80,40,20, WS_TABSTOP|WS_GROUP
    DEFPUSHBUTTON "LOGIN",10003,10,80,40,20, WS_TABSTOP|WS_GROUP
END







DIALOGADD DIALOG DISCARDABLE 100,100,300,300
STYLE DS_CENTER|DS_MODALFRAME
FONT 14, "MS Sans Serif"
BEGIN
    CTEXT "Type", -1,57,10,86,20
    EDITTEXT 20001,77,20,160,14,ES_LEFT | WS_BORDER
    CTEXT "Name", -1,57,40,86,8
    EDITTEXT 20002,77,50,160,14,ES_LEFT | WS_BORDER
    CTEXT "Unit", -1,57,80,86,8
    EDITTEXT 20003, 77,90,160,14,ES_LEFT | WS_BORDER
    CTEXT "Price",-1, 57,120,86,8
    EDITTEXT 20004, 77,130,160,14,ES_LEFT | WS_BORDER
    CTEXT "LeftOver",-1, 57,160,86,8
    EDITTEXT 20005,77,170,160,14,ES_LEFT | WS_BORDER
    DEFPUSHBUTTON "Cancel",20010,80,200,40,20, WS_TABSTOP|WS_GROUP
    DEFPUSHBUTTON "SAVE",20011,10,200,40,20, WS_TABSTOP|WS_GROUP
END




DIALOGFILTER DIALOG DISCARDABLE 100,100,300,100
STYLE DS_CENTER|DS_MODALFRAME
FONT 14, "MS Sans Serif"
BEGIN
    EDITTEXT 30001,50,0,150,14,ES_LEFT | WS_BORDER
    DEFPUSHBUTTON "Cancel",30010,0,60,40,20, WS_TABSTOP|WS_GROUP
    DEFPUSHBUTTON "Filter",30011,60,60,40,20, WS_TABSTOP|WS_GROUP
END



DIALOGCHANGE DIALOG DISCARDABLE 100,100,300,300
STYLE DS_CENTER|DS_MODALFRAME
FONT 14, "MS Sans Serif"
BEGIN
    CTEXT "Type", -1,57,10,86,20
    EDITTEXT 40001,77,20,160,14,ES_LEFT | WS_BORDER
    CTEXT "Name", -1,57,40,86,8
    EDITTEXT 40002,77,50,160,14,ES_LEFT | WS_BORDER
    CTEXT "Unit", -1,57,80,86,8
    EDITTEXT 40003, 77,90,160,14,ES_LEFT | WS_BORDER
    CTEXT "Price",-1, 57,120,86,8
    EDITTEXT 40004, 77,130,160,14,ES_LEFT | WS_BORDER
    CTEXT "LeftOver",-1, 57,160,86,8
    EDITTEXT 40005,77,170,160,14,ES_LEFT | WS_BORDER
    CTEXT "Key",1, 117,200,86,8
    DEFPUSHBUTTON "Cancel",40010,120,230,40,20, WS_TABSTOP|WS_GROUP
    DEFPUSHBUTTON "Change",40011,200,230,40,20, WS_TABSTOP|WS_GROUP
END
